@using BannerGrabbing.Models
@model TIp

@{
    ViewBag.Title = "Home Page";
}



<br />
<br />
<br />

<div class="row" style="text-align:right;direction:rtl">
    <div class=" col-lg-4 col-lg-push-4 col-md-4 col-md-push-4 col-xs-4 col-sm-4 col-sm-push-4">
        <div class="panel panel-warning">
            <div class="panel-heading text-center">
                @Html.Label("Banner Grabbing Input")
            </div>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="panel-body" align="center">
                    <div class="form-group">
                        <label style="font-family: 'Arial Rounded MT'">IP</label>
                        @Html.TextBoxFor(m => m.IP, new { @name = "ipname", @class = "form-control", @id = "ip", @placeholder = "آی پی خود را وارد کنید" })
                    </div>
                </div>

                <br />
                <div class="panel-footer text-center">
                     <button type="submit" class="btn btn-success" style="font-family: 'B Koodak'">ثبت</button>

                </div>}
        </div>
    </div>
</div>
